<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>FastAPI + Vue</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/vue.global.js"></script>
</head>
<body>
  <div id="app">
    <details v-for="(classItem, index2) in sortedUniqueClasses" :key="index2">
    <summary>{{ classItem }}</summary>
    <table class="marks-table" v-if="isVisible">
      <thead>
        <tr>
          <th>Пользователь</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(user, index) in users" :key="index2">
          <td v-if="classes[index] === classItem"><a :href="`/user/${ids[index]}`">{{ user }}</a></td>
        </tr>
      </tbody>
    </table>
    </details>
  </div>

  <script src="/static/subjects/users/js/main.js"></script>
</body>
</html>