<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>FastAPI + Vue</title>
  <link rel="stylesheet" href="/static/subjects/statistic/css/style.css">
  <script src="/static/vue.global.js"></script>
</head>
<body>
  <div id="app">
    <div class="controls">
        <input v-model="text" placeholder="Введите ID пользователя">
        <button @click="send" :disabled="loading">
            {{ loading ? 'Загрузка...' : 'Получить данные' }}
        </button>
    </div>

    <table class="marks-table" v-if="isVisible">
      <thead>
        <tr>
          <th>Предмет</th>
          <th>Оценка</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in db_columns" :key="index">
          <td>{{ item }}</td>
          <td>{{ result[index] }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="/static/subjects/statistic/js/main.js"></script>
</body>
</html>